*{
  margin-top: 0px;
  margin-right: 0px;
}
body{
  background-color: #000000;
}

.tic-tac-toe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
  height: 325px;
  background-color: #ffffff;
  border-radius: 6px;
}
.tic-tac-toe:hover{
  cursor: pointer;
}
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  
}
.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color:dodgerblue;
  
}
